.Rproj.user
.Rhistory
.RData
.Ruserdata
*.ini
src/monday/cache/desktop.ini
*.ini
src/101_PrimerModelo_v2 - prueba papaer tunning hiperp.R
Analisis Grid Search.Rmd
2021_09_02.R
20210902_prueba_params_gs.R
20210902_prueba_params_gs.R
20210902_prueba_params_gs.R
2021_09_02.R
Analisis Grid Search.Rmd
src/101_PrimerModelo_v2 - prueba papaer tunning hiperp.R
src/zero2hero/.ipynb_checkpoints/zero2hero_0101-checkpoint.ipynb
src/zero2hero/.ipynb_checkpoints/zero2hero_0102-checkpoint.ipynb
src/zero2hero/.ipynb_checkpoints/zero2hero_0103-checkpoint.ipynb
src/zero2hero/.ipynb_checkpoints/zero2hero_0104-checkpoint.ipynb
src/zero2hero/.ipynb_checkpoints/zero2Hero_0105-checkpoint.ipynb
src/zero2hero/.ipynb_checkpoints/zero2Hero_0106-checkpoint.ipynb
src/zero2hero/.ipynb_checkpoints/zero2Hero_0107-checkpoint.ipynb
src/zero2hero/.ipynb_checkpoints/zero2Hero_0108-checkpoint.ipynb
src/zero2hero/.ipynb_checkpoints/zero2hero_0109-checkpoint.ipynb
src/zero2hero/.ipynb_checkpoints/zero2hero_0110-checkpoint.ipynb
src/zero2hero/.ipynb_checkpoints/zero2hero_0111-checkpoint.ipynb
src/zero2hero/.ipynb_checkpoints/zero2hero_0112-checkpoint.ipynb
src/zero2hero/.ipynb_checkpoints/zero2hero_0113-checkpoint.ipynb
src/zero2hero/.ipynb_checkpoints/zero2Hero_0114-checkpoint.ipynb
src/zero2hero/.ipynb_checkpoints/zero2Hero_0115-checkpoint.ipynb
src/zero2hero/zero2hero_0101.ipynb
src/zero2hero/zero2hero_0102.ipynb
src/zero2hero/zero2hero_0103.ipynb
src/zero2hero/zero2hero_0104.ipynb
src/zero2hero/zero2Hero_0106.ipynb
src/zero2hero/zero2Hero_0107.ipynb
src/zero2hero/zero2hero_0109.ipynb
src/zero2hero/zero2hero_0110.ipynb
src/zero2hero/zero2hero_0111.ipynb
src/zero2hero/zero2hero_0112.ipynb
src/zero2hero/zero2hero_0113.ipynb
src/zero2hero/zero2Hero_0114.ipynb
src/zero2hero/zero2Hero_0115.ipynb
