.Rproj.user
.Rhistory
.RData
.Ruserdata
*.ini
src/monday/cache/desktop.ini
*.ini
src/101_PrimerModelo_v2 - prueba papaer tunning hiperp.R
Analisis Grid Search.Rmd
2021_09_02.R
20210902_prueba_params_gs.R
